.App {
  text-align: center;
  background-color: #F4F4F4;
  height: 100vh;
}

.header {
  color: #008B8B;
  margin: 30px;
  font-weight: 600;
}

.displayContent {
  display: flex;
  flex-direction: row;
  /* position: fixed; */
}

.bookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 25%;
}

img {
  height: 100px;
  width: 80px;
}

.search {
  margin-bottom: 30px;
}